<div class="card-container hexagon">
  <div class="card hexagon text-center m-1 ">
    <div class="overlay hexagon">
      <div class="column">
        <button
          class="btn btn-honey add"
          (click)="onAddToCart(item.Index)"
          attr.data-index="{{ item.Index }}"
        >
          add to cart
        </button>
        <a class="btn btn-info-honey" routerLink="/detail/{{ item.Index }}"
          >details</a
        >
      </div>
    </div>

    <div class="card-body ">
      <div class="img-holder hexagon">
        <img
          src="http://www.placekitten.com/300/300"
          class=" img-custom"
          alt="alt image"
        />
      </div>
    </div>
  </div>
</div>

<div class="text-holder">
  <h6 class="card-title">{{ item.name }}</h6>
  <p class="card-text bg-black rounded p-2 text-light">
    {{ item.price | currency: "EGP" }}
  </p>
</div>
