@import "../../styles.scss";
.card-container {
    padding: 2px;
    background-color: beeColor(brown);
    .card {
        height: 320px;
        position: relative;
        background-color: beeColor(yellow);
        .card-body {
            justify-content: center;
            text-align: center;
            padding: 0.5em;
            .card-text {
                max-width: 70%;
                margin: 0 auto;
                text-align: center;
            }
            .img-holder {
                width: 100%;
                height: 100%;
                .img-custom {
                    width: 100%;
                    height: 100%;
                    position: relative
                }
            }
            .text-holder {
                position: relative;
                top: -40%;
                h6 {
                    background-color: bumblebeeColor(brown);
                    color: bumblebeeColor(yellow);
                    width: fit-content;
                    margin: 3px auto;
                    border-radius: 5px;
                    padding: 0.25rem;
                }
            }
        }
    }
    .overlay {
        background-color: rgba(0, 0, 0, 0.6);
        height: 100%;
        width: 100%;
        position: absolute;
        display: none;
        z-index: 9999999;
        .column {
            position: relative;
            .btn {
                position: absolute;
            }
            $top: 100px;
            .btn-success {
                top: $top;
                left: 33%;
            }
            .btn-info {
                top: $top + 50px;
                left: 38%;
                color: #fff;
            }
        }
    }
    .card:hover .overlay {
        display: block;
    }
}