<div class="card text-center m-1 ">
  <div class="overlay">
    <div class="column">
      <button
        class="btn btn-success add"
        (click)="onAddToCart(item.Index)"
        attr.data-index="{{ item.Index }}"
      >
        add to cart
      </button>
      <a class="btn btn-info" routerLink="/detail/{{ item.Index }}">details</a>
    </div>
  </div>
  <div class="card-body">
    <div style="width:100%;height:120px;border-radius: 5px;font-weight: bold">
      <img
        src="http://www.placekitten.com/150/120"
        class="img-fluid"
        alt="alt image"
      />
    </div>
    <h6 class="card-title">{{ item.name }}</h6>
    <p class="card-text bg-info rounded p-2 text-light">
      {{ item.price | currency: "EGP" }}
    </p>
  </div>
</div>
