@import "../../styles.scss";
.card-container {
    padding: 2px;
    background-color: beeColor(brown);
    overflow: visible;
    .card {
        height: 320px;
        background-color: beeColor(yellow);
        .card-body {
            justify-content: center;
            text-align: center;
            padding: 0.5em;
            position: relative;
            .img-holder {
                width: 100%;
                height: 100%;
                .img-custom {
                    width: 100%;
                    height: 100%;
                    position: relative
                }
            }
        }
    }
    .overlay {
        background-color: rgba(bumblebeeColor(brown), 0.6);
        height: 100%;
        width: 100%;
        position: absolute;
        display: none;
        z-index: 9999999;
        .column {
            position: relative;
            .btn {
                position: absolute;
            }
            $top: 100px;
            .btn-success {
                top: $top;
                left: 30%;
            }
            .btn-info {
                top: $top + 50px;
                left: 35%;
                color: #fff;
            }
        }
    }
    .card:hover .overlay {
        display: block;
    }
}

.text-holder {
    text-align: center;
    position: relative;
    top: -30px;
    h6 {
        background-color: bumblebeeColor(brown);
        color: bumblebeeColor(yellow);
        width: fit-content;
        margin: 3px auto;
        border-radius: 5px;
        padding: 0.25rem;
    }
    .card-text {
        width: 120px;
        margin: 0 auto;
        text-align: center;
    }
}