@import "../../styles.scss";
.navbar {
    padding: 0 30px;
    background-color: bumblebeeColor(black);
    .navbar-brand {
        font-weight: 800;
        font-size: 25pt;
    }
    a {
        color: beeColor(yellow);
    }
    a.cart-icon {
        color: white;
    }
    ul li {
        padding: 10px 15px;
        vertical-align: middle;
        fa-icon {
            position: relative;
            top: 5px;
            font-size: 18pt;
        }
        div.hexagon-wrapper {
            padding: 2px;
            background-color: beeColor(brown);
            position: relative;
            div.notification {
                text-align: center;
                width: 25px;
                height: 25px;
                color: bumblebeeColor(brown);
                background-color: bumblebeeColor(yellow);
                position: absolute;
                font-weight: 800;
            }
        }
    }
    ul li.active {
        border-bottom: 3px solid white;
    }
}