<nav class="navbar navbar-expand-sm  ">
    <a class="navbar-brand" routerLink="/home">BeeCommerce</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav ml-auto px-5 mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link active" routerLink="/home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/about">About</a>
            </li>
            <li>
                <a class="cart-icon">
                    <fa-icon [icon]="faShoppingCart"></fa-icon>
                    <div class="hexagon-wrapper hexagon">
                        <div class="notification hexagon">5</div>
                    </div>
                </a>
            </li>
            <!-- <li>
        <input class="form-control" id="Cart" [(ngModel)]="qty" />
      </li> -->
        </ul>
    </div>
</nav>