@import "../../styles.scss";
.navbar {
    padding: 0 30px;
    background-color: bumblebeeColor(black);
    .navbar-brand {
        font-weight: 800;
        font-size: 25pt;
        color: beeColor(yellow);
    }
    a.cart-icon {
        color: white;
    }
    ul li {
        padding: 5px 15px;
        vertical-align: middle;
        a {
            color: beeColor(yellow);
            font-size: 15px;
            font-weight: 500;
        }
        fa-icon {
            position: relative;
            top: 5px;
            font-size: 20pt;
            color: white;
        }
        div.hexagon-wrapper {
            padding: 3px;
            background-color: beeColor(brown);
            width: 30px;
            height: 30px;
            position: relative;
            top: -40px;
            right: -13px;
            z-index: 0;
            div.notification {
                text-align: center;
                width: 100%;
                height: 100%;
                color: bumblebeeColor(brown);
                background-color: bumblebeeColor(yellow);
                font-weight: 800;
            }
        }
    }
    ul li.active {
        border-bottom: 3px solid white;
    }
}