@import "../../styles.scss";
section {
    .bcolor {
        background-color: beeColor(brown);
        border: none;
    }
    .color {
        background-color: beeColor(yellow);
        color: beeColor(brown);
    }
}