<section id="home">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2 filter-menu text-light py-2">
        <h4>Filters</h4>
        <div class="form-group">
          <label class="label">Price</label><br />
          <label>from</label>
          <div class="container">
            <div class="row">
              <input
                type="text"
                class="form-control "
                [(ngModel)]="from"
                id="priceFilter"
                placeholder="Min"
              />
              <label class="label-">-</label>
              <input
                type="text"
                class="form-control "
                [(ngModel)]="to"
                id="priceFilter"
                placeholder="Max"
              />
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="label" for="Categories">Category</label>
          <select
            class="form-control"
            name="Categories"
            [(ngModel)]="category"
            id="categories"
          >
            <option value="all">All categories</option>
            <option value="Electronics">Electronics</option>
            <option value="Home Essentials">Home Essentials</option>
            <option value="Men's Wear">Men's Wear</option>
          </select>
        </div>
        <!-- <span id="Cart__">Cart: </span> -->
      </div>
      <div class="col-md-10">
        <div class="row">
          <div
            class="col-md-3 col-12 my-2"
            *ngFor="
              let item of items
                | priceFilter: from:to
                | categoryFilter: category
            "
          >
            <!-- this is a component for the Item Card -->
            <!-- there is some property binding  -->
            <app-item-card
              [item]="item"
              (onItemAdded)="addToCart($event)"
            ></app-item-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
